@model emp_ferias.Models.IndexMarcacaoViewModel

@{
    ViewBag.Title = "Calendário - Gestor de Férias";
}

<div class="jumbotron">
    <div class="container-fluid body-content" style="width: 70%">
        <h1 id="icon">Calendário</h1>
        <p class="lead container body-content jumbotron-description"></p>
    </div>
</div>

<div class="content">

    <ol class="overflow bottom15 breadcrumb">
        <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
        <li>@Html.ActionLink("Marcações", "Index", "Marcacoes")</li>
        <li class="active">Calendário</li>
    </ol>
    
    <div id="calendar"></div>
    <br />
    <div class="col-md-4 text-center"> 
        <span class="label label-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  Finalizado <br />
    </div>
    <div class="col-md-4 text-center">
        <span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  Em Progresso <br />
    </div>
    <div class="col-md-4 text-center">
        <span class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  Aprovado <br />
    </div>
    <br />

</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                eventStartEditable: false,
                eventLimit: true,
                events: "/Marcacoes/GetMarcacoes/"
            });
        })
    </script>
}