/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
header > .container {
    width:70%;
}
#logoutForm {
    margin-right: 0;
}
body {
    font-family: 'Roboto',  sans-serif;
}
.icon-bg {
    width: 144px;
    height: 144px;
    line-height: 140px;
    border: 1px solid white;
    border-radius: 15%;
    font-size: 108px;
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:center;
}

#welcome-message {
    margin-top: 0px;
    margin-bottom: 14px;
    height: 35px;
    font-family: 'Roboto',  sans-serif;
}
.dl-horizontal dt {
    white-space: normal;
}
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; 
    font-weight: bolder;
    color: #6f5499 !important;
    padding-left: 0;
}
.navbar-brand a :hover {
    -webkit-text-stroke: 1px black;
}
.navbar-default {
    background-color: white;
            
}
.navbar {
    margin-bottom: 0;
}
.navbar a {
    color: #6f5499 !important;
}
.navbar li:hover {
    background-color: #ebebeb !important;
}
.content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
}
.jumbotron {
    background-color: #6f5499;
    color: white;
    border-radius: 0 0 !important;
    padding: 0 0 0 0;
}
.jumbotron > .container-fluid {
    width: 70%;
    padding: 0;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding: 0;
}
.jumbotron p {        
    font-family: 'Roboto',  sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
}
.jumbotron container-fluid {
    width: 70%;
}
.btn-round-success-bordered {
    background-color: rgba(0,0,0,.0);
    font-weight: 400;
    border-color: #05ae0e;
    border-width: 1px;
    border-radius: 30px !important;
    opacity: 0.95;
    padding: 9px 18px;
}
table {
    width: 100%;
}
table th:first-child {
    border-radius:10px 0 0 0;
}

table th:last-child {
    border-radius:0 10px 0 0;
}
th {
    background-color: #6f5499;
    color:white;
    font-weight: 600;
}
th, td {
    text-align: center;
    vertical-align: middle !important;
}
.table > thead > tr > td, .table > thead > tr > th {
    border-top:0px !important;
}
.table > thead > tr > th {
    border-bottom: 0px !important;
}
.table > tbody > tr:first-child > td {
    border-top: 0px !important;
}
.table > tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 10px;
}
.table > tbody > tr:last-child > td:last-child {
    border-radius: 0 0 10px 0;
}
#create-new-button {
    vertical-align: middle;
    text-align: center;
    float: right;
    font-size: 1em;
    width: 140px;
}
#overview-button {
    width: 115px;
    text-align: center;
    float:right;
}
.panel-default {
    margin: 20px 0px 10px 0px;
    background-color: #f5f5f5;
}
.panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; 
}
.btn-simple {
    background-color: rgba(0,0,0,.0);
    border: 0;
}
.btn-round-success {
    border-radius: 30px 30px 30px 30px !important;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-color: #05ae0e;
    padding: 5px 9px 5px 9px;
    height: 35px !important;
    outline: none !important;
    background: none;
    color: #05ae0e;
    font-weight: bold;
    font-family: 'Roboto',  sans-serif;
}
.btn-round-danger {
    border-radius: 30px 30px 30px 30px !important;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-color: red;
    padding: 5px 9px 5px 9px;
    height: 35px !important;
    outline: none !important;
    background: none;
    color: red;
    font-weight: bold;
    font-family: 'Roboto',  sans-serif;
}
.btn-round-neutral {
    border-radius: 30px 30px 30px 30px !important;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-color: gray;
    padding: 5px 9px 5px 9px;
    height: 35px !important;
    outline: none !important;
    background: none;
    color: gray;
    font-weight: bold;
    font-family: 'Roboto',  sans-serif;
} 
.fc-button {
    border-radius: 30px 30px 30px 30px !important;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-color: #6f5499;
    padding: 5px 9px 5px 9px;
    height: 35px !important;
    outline: none !important;
    background: none;
    color: #6f5499;
    font-weight: bold;
    font-family: 'Roboto',  sans-serif;
}
.fc-prev-button {
    border-radius: 30px 0 0 30px !important;
    width: 45px;
}   
.fc-next-button {
    border-radius: 0 30px 30px 0 !important;
    width: 45px;
} 
.fc-head-container, fc-widget-header {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
.fc-scroller {
    overflow: hidden;
}
.form-control {
    resize: none;
}
#rejectTextBox {
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
}
#rejectButton {
    border-color: red;
}
#closeModalButton {
    border-color: gray;
}
#charactersPanel {
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
}
.no-transition {
    -webkit-transition: height 0.01s !important;
    -moz-transition: height 0.01s !important;
    -o-transition: height 0.01s !important;
    transition: height 0.01s !important;
}
.popover {
    max-width: 100%;
}
.popover-content {
    word-wrap: break-word;
    color: black;
}
.bg-success {
    background-color: rgba(223, 240, 216, 0.4);
}
.bg-info {
    background-color: rgba(217, 237, 247, 0.4);
}
.bg-primary {
    background-color: #337ab7;
}
.marcacoes-content {
    width: 70%;
}
.empty-notes {
    color: #777;
}