@{
    ViewBag.Title = "Home Page";
}

<style>
    .col-md-6 {
        text-align: center;
        vertical-align: middle;
    }
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        width: 100%;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>
            User Panel &nbsp;<a class="btn btn-primary" href='@Url.Action("Index","User")'><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </h2>
    </div>
    <!--<div class="col-md-4">
        -----------------------------------------------------------------asdasd-------asd-asd-asd-as-fkjdnbqaenbonqe'+da-sd-
    </div>-->
    <div class="col-md-6">
        <h2>
            Role Panel &nbsp;<a class="btn btn-primary" href='@Url.Action("Index","Role")'><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </h2>    
    </div>
</div>