@{
    ViewBag.Title = "Home Page";
}

<style>
    #page-content-wrapper {
        padding-top: 0;
    }
    .body {
        width: 100%;
    }

</style>


<div class="jumbotron">
    <div class="container-fluid body-content">
        <h1 id="icon"><i class="fa fa-paperclip fa-2x" aria-hidden="true"></i></h1>
        <p class="lead container body-content jumbotron-description">Gestor de Férias</p>
    </div>
</div>


<div class="content">
    <div class="row">
        @*<div class="col-md-6">
            <h2>
                User Panel &nbsp;<a class="btn btn-primary" href='@Url.Action("Index","User")'><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </h2>
        </div>
        <!--<div class="col-md-4">
            -----------------------------------------------------------------asdasd-------asd-asd-asd-as-fkjdnbqaenbonqe'+da-sd-
        </div>-->
        <div class="col-md-6">
            <h2>
                Role Panel &nbsp;<a class="btn btn-primary" href='@Url.Action("Index","Role")'><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </h2>
        </div>
    </div>*@
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sagittis urna, sed vestibulum mi vulputate sit amet. Aenean at tellus eu massa maximus dignissim. Nullam tincidunt, est luctus posuere rhoncus, dui mi ornare turpis, id tempor arcu tellus in lorem. Quisque maximus vulputate ante, eu feugiat turpis pellentesque at. Vestibulum gravida, ante ut feugiat maximus, mauris sapien accumsan elit, id tempor odio est sed nulla. Vivamus id ante malesuada, euismod purus non, egestas dolor. Vivamus convallis lobortis nunc in bibendum. Morbi lacinia ligula suscipit, sodales eros quis, euismod purus. Nullam nec nisl eu nisi eleifend tempor at vitae nulla. Nam lacinia rhoncus maximus. Duis ut erat vel est tristique convallis.

Cras at urna purus. Nunc orci odio, feugiat a lobortis eget, rutrum sit amet augue. Aliquam dignissim dignissim justo, sit amet lacinia nisi convallis aliquet. Vivamus blandit tortor in semper euismod. Sed placerat egestas mattis. Phasellus commodo arcu sed cursus posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed magna dui. Vestibulum sed porta nunc. In a feugiat metus. Nunc commodo hendrerit sapien, eu lacinia dui molestie sed. Duis ullamcorper sem sit amet suscipit tincidunt.

Nam sollicitudin non diam id hendrerit. Sed pellentesque aliquam erat ac posuere. Nunc vulputate ligula vitae ex rhoncus condimentum. Fusce a lorem vel ipsum hendrerit pellentesque at id eros. Ut porta eu magna vel facilisis. Vivamus mollis est eget nulla viverra tincidunt. Duis velit risus, placerat euismod vehicula quis, auctor sit amet enim. Integer porttitor rutrum massa, scelerisque mollis neque sollicitudin sit amet. Curabitur at sollicitudin felis. Sed eget mi a diam venenatis porttitor. Aliquam hendrerit vel quam in viverra. Proin bibendum sodales neque id lobortis. Maecenas porta mauris eget fringilla iaculis. In scelerisque lorem non felis tincidunt interdum.

Sed malesuada ornare elementum. Donec elit nisi, commodo in consectetur elementum, tempus nec lacus. Duis placerat, mauris et hendrerit malesuada, ligula tortor maximus odio, id faucibus magna dui quis nibh. Curabitur sodales porttitor efficitur. In ut lorem quis justo rhoncus hendrerit sed id risus. Morbi et nunc ex. Donec lacus nibh, dictum ut nisi in, lobortis ornare dolor. Vestibulum nec pulvinar tortor. Duis porttitor viverra lectus finibus dictum. In tellus tellus, vehicula sed aliquam non, posuere volutpat dui. Duis pellentesque rutrum est vel scelerisque. In sit amet tortor venenatis, accumsan dolor rutrum, condimentum ligula. Mauris lacinia commodo risus.

Morbi accumsan eu nulla sed vulputate. Aliquam ornare tellus sed nisi venenatis, non porta velit laoreet. Curabitur ornare risus eu lorem imperdiet sollicitudin. Aenean finibus egestas facilisis. Cras blandit vestibulum eleifend. Curabitur ut lacus nec lorem pharetra sagittis. Morbi sed ante enim. Ut id malesuada arcu. Fusce nec felis bibendum, pellentesque eros at, ultricies sem. Cras ornare eget enim ac vehicula. Integer imperdiet dolor odio, sed vehicula tortor ultricies quis.

Donec eu ipsum in leo laoreet dignissim id nec risus. Ut ornare sed enim eget bibendum. Morbi et hendrerit ante, id sagittis arcu. Donec ac massa vel neque efficitur mattis. Fusce non laoreet ipsum. Vivamus a velit diam. Aliquam dictum tellus at lacinia volutpat. Nulla pretium ultricies enim bibendum consequat. Fusce diam lectus, pellentesque sed pellentesque et, rutrum a velit. Suspendisse urna eros, imperdiet ut tincidunt eu, pellentesque eget orci. Vivamus a venenatis sem. In hac habitasse platea dictumst. Vestibulum semper accumsan dolor, non ullamcorper lacus viverra eget. Nam a auctor leo, id bibendum ante. Nulla sit amet justo convallis, dignissim ligula quis, venenatis est. Sed convallis orci a imperdiet ullamcorper.

Nullam eget suscipit lorem. Etiam id ultricies quam. Phasellus egestas, ex id finibus ultricies, leo mi interdum ante, eget gravida tellus sapien vel sem. Praesent rutrum dapibus dolor at convallis. Suspendisse feugiat augue ipsum, nec sagittis arcu aliquam id. Integer ut luctus ex. In aliquam, dui sit amet sollicitudin posuere, turpis quam euismod velit, non luctus sem elit sed leo. Sed a porta nisi. Donec purus ligula, sagittis in nunc ac, consectetur pharetra velit. Curabitur sapien ante, mollis non feugiat sed, pretium sit amet tellus.

Aliquam tempor semper arcu nec fringilla. Sed ut viverra dolor. Quisque et dui lorem. Morbi ligula libero, viverra id pharetra vel, tincidunt non dolor. Ut placerat odio at mauris semper, quis ultrices purus rutrum. Duis a lacinia urna, vitae malesuada elit. Phasellus posuere nunc id elit pharetra tincidunt. Phasellus euismod pellentesque justo non pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In semper sem enim, sed volutpat velit ultrices vitae. Cras consequat urna cursus tempus viverra. Cras bibendum nisi vitae justo commodo, sed auctor diam gravida. Quisque sit amet justo orci. Ut maximus ex at magna semper, ac luctus nunc pharetra.

Nunc tempor facilisis semper. Curabitur elementum ante vitae dui sodales luctus. Nulla molestie, mauris volutpat facilisis sagittis, mi nisi porttitor diam, a auctor ante justo nec risus. Vivamus lacinia consequat magna, at dapibus mi lacinia ut. Nam fermentum diam justo, bibendum scelerisque libero maximus non. Cras consectetur vestibulum mi, at ultrices odio consequat non. Curabitur non velit vestibulum, malesuada ipsum non, varius arcu. Fusce posuere purus eu mattis volutpat. Mauris non mi at lorem ultrices porttitor id eu enim. Integer volutpat posuere dui, sed bibendum erat maximus ac. Duis interdum augue felis, scelerisque iaculis neque ultricies non. Aenean et tortor in velit lobortis vehicula.

Maecenas mi elit, tincidunt eu lorem id, porttitor congue lacus. Fusce vestibulum volutpat erat, et consequat purus maximus vel. Fusce elementum sem non vulputate sagittis. Sed a libero pellentesque, sagittis mi a, mollis est. Nullam at diam sollicitudin, venenatis justo quis, varius odio. Nunc nec elit et dui semper accumsan. Pellentesque tortor leo, ornare quis metus eget, condimentum commodo metus. In egestas ullamcorper nulla auctor interdum. Quisque vestibulum quam vel purus rhoncus, a molestie lectus ullamcorper. Pellentesque auctor massa sit amet ultricies efficitur. Nunc dignissim sodales ultricies. Etiam congue, mi in consequat euismod, elit enim elementum eros, vel ornare purus nisl id mi.

Integer in consectetur lectus, id fringilla dolor. In ultrices nunc non maximus ornare. Curabitur eu nisl non velit iaculis accumsan. Etiam in metus id mauris pulvinar cursus at quis ex. Fusce sed mi eget augue viverra tempus. Curabitur turpis nisi, elementum at ornare ac, rhoncus ut tellus. Ut vitae pretium odio. Sed aliquet consequat mattis. Suspendisse vehicula tristique feugiat. Aliquam mollis urna tellus, ut condimentum mauris rutrum quis. Integer et nibh porta, posuere mauris in, semper dolor. Aliquam erat volutpat. Duis molestie aliquet dolor. Maecenas consectetur ipsum tincidunt semper imperdiet.

Donec eu mauris non nisl rutrum finibus ullamcorper id enim. Duis commodo quam eros, non hendrerit tellus suscipit sed. Integer accumsan, justo ac luctus imperdiet, nisi enim sodales turpis, a feugiat risus arcu at ligula. Vivamus aliquet fermentum elementum. Duis efficitur rutrum sapien et tempus. Nullam eget nunc id erat pulvinar malesuada at vitae nisl. Quisque lectus mauris, rhoncus vel dignissim iaculis, pellentesque ut diam. Vivamus eu nisi dolor. Quisque laoreet, ipsum sed ultricies accumsan, leo massa mollis lectus, ac placerat leo turpis sed velit. In vulputate, diam eu luctus luctus, tellus lectus accumsan libero, non aliquet orci diam vitae velit. Vivamus iaculis velit urna, sed euismod nulla imperdiet nec. Nulla facilisi. Fusce ut turpis nibh. Vivamus tempus tortor vel justo luctus, non fermentum magna porttitor. Nunc consectetur euismod sapien, vel scelerisque mi eleifend ac. Cras mattis non dui quis efficitur.

Aliquam elementum tempus maximus. In hac habitasse platea dictumst. Maecenas et pulvinar felis. Praesent quis risus ac massa malesuada vestibulum vel eget mi. Nullam iaculis justo orci, vitae eleifend est suscipit eu. Aenean sit amet eros in nisl convallis iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ac posuere ex.

Phasellus a dolor mauris. Etiam sit amet est pharetra, condimentum arcu vitae, convallis nisi. Cras iaculis quis erat at iaculis. Nam in porta orci. Maecenas non fermentum risus, at venenatis odio. Nulla hendrerit finibus tincidunt. Fusce ac placerat tortor, eget bibendum nisi. Nunc finibus ante at metus facilisis dignissim non vitae quam. Etiam ex est, commodo in tortor et, consequat condimentum sem. Vivamus sagittis venenatis nunc sed rhoncus.

Maecenas id fermentum augue. Suspendisse potenti. Pellentesque ut odio quam. Aenean porttitor luctus nunc quis fermentum. Nullam sed semper nisl, ut finibus sem. Fusce quis mi nunc. Donec vel accumsan lorem.

Maecenas mattis efficitur tortor a auctor. Donec ac tempus elit, ac dignissim purus. Suspendisse turpis libero, vestibulum in lectus ac, porta gravida dui. Nullam erat sapien, aliquet in dolor sollicitudin, tempor tempor libero. Vestibulum vel sapien aliquam, blandit nulla eu, imperdiet dolor. Mauris pretium lorem sed dolor convallis tempor. Suspendisse potenti.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut metus et tortor sodales maximus at quis neque. Morbi ligula massa, fringilla vel nisi a, ornare hendrerit felis. Pellentesque pellentesque, lorem eu vulputate vestibulum, mauris nisl consequat mauris, vel interdum ligula dui eleifend ipsum. Phasellus et mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ornare, metus eget vestibulum maximus, nibh nibh fermentum ex, nec fringilla ipsum diam a leo. Quisque dictum lacus odio, placerat ornare odio aliquet quis.

Fusce pellentesque nisi sed augue pretium tempor. Aenean quis sapien non eros efficitur ullamcorper. Donec porttitor neque nec justo molestie tincidunt. Aenean sed massa magna. Curabitur erat purus, mattis sed purus vel, volutpat laoreet mi. Nullam tempus ipsum a dui varius, eu faucibus mi sodales. Sed sed dui urna. Phasellus congue magna ac sollicitudin vulputate. Donec vitae metus non massa auctor malesuada id quis nulla. Nunc sed imperdiet neque. Aenean id euismod ligula, sed porttitor nulla.

Aliquam quis mauris et nunc feugiat vehicula ut non mauris. Mauris aliquam nulla sit amet tortor fermentum faucibus. Maecenas ullamcorper tristique dui, et eleifend libero rutrum mattis. Phasellus at posuere nisl. Vivamus purus mauris, gravida vitae rutrum ut, gravida vitae lorem. In ligula nisl, pellentesque et arcu ut, dapibus tempus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus metus ac libero vestibulum fermentum.

Duis nisi arcu, volutpat vitae interdum sit amet, varius id turpis. Vestibulum ultrices enim vel lacus consectetur, at consectetur elit lobortis. Nam consequat magna non odio aliquet posuere. Nunc aliquam urna tortor, vel gravida magna cursus eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sed erat et erat egestas blandit. Donec at velit porta tellus tempus bibendum porttitor id erat.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque at blandit orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eget imperdiet velit, et tincidunt magna. In hac habitasse platea dictumst. Donec congue libero a porta interdum. Morbi pharetra mollis velit non venenatis. Mauris vulputate lobortis vestibulum. Vestibulum commodo aliquam nulla, sed vehicula augue placerat viverra. Suspendisse at tempus lacus, a cursus lectus. Nam eget vestibulum enim. Cras malesuada vehicula urna at suscipit. Sed a risus nulla. Aenean rutrum elementum fermentum. Pellentesque sed lacus ultrices, vehicula augue vitae, porta est.

Duis vitae mattis ante. Sed volutpat felis dui, in faucibus nulla lobortis sed. Nam pulvinar vitae turpis nec aliquet. Donec ullamcorper efficitur placerat. Fusce faucibus mollis ante, sed maximus leo tristique sit amet. Pellentesque porttitor urna leo, et finibus neque tincidunt non. Praesent semper mi quis magna faucibus venenatis. Ut quis finibus nibh, ut molestie justo. Maecenas dolor massa, sagittis in purus a, ullamcorper pharetra turpis. Proin varius aliquet mi at facilisis. Mauris mattis, ipsum eu sodales tempus, lorem tortor ultricies massa, id sagittis libero elit nec odio. Donec egestas elementum tortor, ut dapibus mauris aliquet id. Aliquam eu varius justo.

Vestibulum rhoncus lectus maximus, pulvinar sapien sit amet, luctus felis. Suspendisse sagittis ex eu enim scelerisque vestibulum. Nullam diam dolor, dapibus ac est vel, malesuada bibendum ante. Nullam nisi odio, convallis sit amet accumsan id, egestas a dui. Suspendisse tempus posuere lorem, eu finibus quam commodo vel. Curabitur interdum suscipit enim et rhoncus. Cras aliquam sem quis libero molestie, non pellentesque purus sagittis. Ut quam nisi, imperdiet id dictum at, ultricies id orci. Fusce quis elementum est. Integer viverra molestie sapien id fringilla. Donec cursus dictum sollicitudin. Aliquam sit amet cursus nunc. Donec accumsan dui nec odio scelerisque semper. Praesent et sodales tortor. Vestibulum porttitor orci sed metus ornare, sit amet egestas dolor rutrum.

Nunc et velit metus. Nunc diam tellus, iaculis et nisl et, hendrerit pretium libero. Morbi ultrices, lacus et fringilla varius, lorem ipsum viverra nisl, ac tempor massa lacus ac lorem. Aliquam quis leo eget justo auctor lobortis. Vestibulum id dolor eros. Mauris sit amet enim ut mi dapibus tincidunt et eget augue. Praesent purus lectus, auctor vitae tristique eget, sagittis eu mi. Ut consectetur purus lacus, vel varius mi vestibulum nec. Nullam accumsan, massa a laoreet porttitor, tellus quam posuere nibh, ut tempus ex orci eu erat. Etiam nec sagittis arcu. Praesent scelerisque in tellus in mollis. Aenean at nisi sit amet libero blandit ultrices vitae non nisi. Duis varius odio vel porttitor varius. Nullam rhoncus diam rutrum nunc mollis bibendum.

Aenean interdum dignissim neque at viverra. Duis commodo nisl faucibus, dictum leo id, accumsan ex. Curabitur aliquam diam et leo euismod blandit. Donec nec euismod lacus, porta consequat lectus. Nulla auctor facilisis lacus quis tincidunt. Donec porttitor imperdiet placerat. Donec gravida ante sapien. Praesent ac augue vel mi feugiat varius. Phasellus eget leo id lacus porta tincidunt non sed quam. Curabitur auctor tristique massa vitae lacinia. Vivamus imperdiet, neque ut bibendum pellentesque, justo risus rhoncus justo, a dapibus justo eros eget tellus.

Mauris ullamcorper a quam a aliquam. Etiam a ullamcorper enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tortor purus, hendrerit euismod urna nec, vestibulum ultricies purus. Etiam tortor elit, viverra eu ipsum eu, euismod varius nisi. Praesent nec sagittis erat. Vivamus at condimentum arcu, non dignissim turpis. In pretium tempus ante non dignissim. Praesent blandit facilisis convallis. Fusce ex dui, lobortis nec turpis id, dignissim scelerisque leo. Sed placerat justo at metus dignissim, in condimentum magna efficitur. Nunc pulvinar at magna et euismod. Suspendisse potenti. Aliquam erat volutpat.

Vestibulum ut orci nec nibh iaculis sollicitudin non vitae magna. Mauris pulvinar velit quis felis hendrerit rhoncus. Phasellus ut lorem a dolor lobortis venenatis. Donec lacinia leo at metus varius maximus. Suspendisse tincidunt diam sollicitudin velit maximus, at auctor lacus congue. Nam at fermentum est. Integer sagittis elementum nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sem augue, tincidunt in imperdiet mollis, pretium vel metus. Nullam tempor ipsum urna, vitae rhoncus velit placerat non. Quisque auctor, turpis vel ultrices lacinia, risus orci euismod risus, sit amet egestas sapien tellus et libero. Nunc pharetra efficitur dignissim.

Aliquam feugiat felis at arcu ultricies maximus. Vestibulum varius non sem et laoreet. In et lorem tincidunt, viverra purus vitae, tincidunt lectus. Aenean volutpat finibus nulla eu mattis. Nam sollicitudin eros vitae tellus egestas, auctor pulvinar dolor mollis. Nulla facilisi. Pellentesque et congue nulla. Fusce eu pulvinar lacus. Cras tincidunt, ipsum vel vestibulum scelerisque, felis mauris vulputate enim, sed lobortis risus nisi id nisi. Praesent imperdiet massa quis nisl sodales, at auctor quam cursus. In ultricies sodales dolor varius gravida. Nulla est leo, mattis in lacus id, finibus tempus ipsum. Donec tempor purus ac fermentum mollis. Donec gravida porta ligula, sed dictum urna ornare nec. Pellentesque sagittis quis turpis ut vulputate. Vivamus vitae ligula suscipit, vehicula libero eget, fringilla diam.

Nullam et venenatis augue. Vivamus scelerisque vehicula nisi in pulvinar. In varius diam purus, et fringilla augue maximus ac. Fusce risus lectus, pretium elementum nunc ut, laoreet ornare massa. Fusce ornare blandit arcu, id consectetur orci posuere sit amet. Nulla vitae feugiat ex. Proin ultrices, lectus sit amet scelerisque varius, eros ante eleifend tortor, sed luctus mauris arcu id ante. Proin at volutpat tortor. Etiam eu felis mauris. Phasellus eget facilisis ante, sed egestas nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Donec feugiat risus ut leo dictum, in rhoncus ante ullamcorper. Curabitur purus nibh, tempus sed luctus at, faucibus eu enim. Etiam vitae justo at ipsum molestie vehicula non nec risus. Aliquam nec ligula enim. Vestibulum iaculis lectus diam, id vehicula ex placerat in. Cras ac tincidunt purus, ut venenatis magna. Phasellus lacus velit, porta ut tempor eget, semper et nisi.</p> <!-- 30 paragrafos lorem ipsum-->
    </div>
</div>